* {
  box-sizing: border-box;
  margin: 0;
  font-family: "inter", sans-serif;
}
.apple-store {
  width: 100vw;
  position: relative;
  background-color: #f5f5f7;
}
.store-headers {
  width: 100%;
  position: relative;

  /* border: 2px red solid; */
}
.store-header {
  width: 100%;

  /* border: 2px blue solid; */
}

.store-menu {
  width: 100%;

  background-color: #f5f5f7cc;
  opacity: 80%;
  display: flex;
  gap: 24px;
  position: fixed;
  text-decoration: none;
  z-index: 1;
  border: 2px green solid;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.logo {
  width: 30px;
  height: 44px;
}

.section {
  width: 100%;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 16px;
  gap: 4px;
  text-align: center;
}
.gradient-background {
  width: 100%;
  height: 75px;
  background-image: url(./Background.png);

  top: 95px;
}
.store-section {
  width: 100%;
  padding-right: 140px;
  padding-left: 140px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 80px;
}
.store-section-header {
  /* width: 100%; */
  display: flex;
  gap: 32px;
}
.text-gradient {
  color: #0090f7;
  background-image: linear-gradient(90deg, #0090f7, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: Inter;
  font-weight: 700;
  font-size: 44px;
  line-height: 52.01px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.store-section-header p:nth-child(2) {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 52.01px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #6e6e73;
}
.store-section-shoppinghelp {
  width: 226px;
  height: 100px;
  gap: 16px;
  display: flex;
}
.store-section-shoppinghelp img {
  width: 35px;
  height: 35px;
  border-radius: 9999px;
}
.chat {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.chat p {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.chat a {
  color: #0066cc;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  /* text-decoration-style: solid; */
  /* text-decoration-thickness: 0%;
text-decoration-skip-ink: auto; */
}
.ProductList {
  width: 100%;
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  margin-bottom: 60px;
}
.list {
  /* width: 136;
  height: 146; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 1;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  border-radius: 18px;
}

.list img {
  width: 120px;
  height: 78px;
}
.list a {
  text-decoration: none;
  color: black;
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.frame {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.latest-section {
  width: 100%;
  display: flex;
  gap: 24px;
  opacity: 1;
  /* padding-right: 140px; */
  padding-left: 140px;
  text-align: center;
  flex-direction: column;
}
.small {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.latest-section-title {
  display: flex;
  gap: 4px;
}
.latest-section-title p:nth-child(2) {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #6e6e73;
}
/* .listDetails {
  display: flex;
} */
.ListItem {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background-size: 400px, 500px;
  background-position: center;
  flex-shrink: 0;
  padding: 30px;
  row-gap: 20px;
  scroll-snap-align: start;
  cursor: pointer;
  text-align: left;
  box-shadow: 2px 4px 12px 0px #00000014;
}
.ListItems {
  display: flex;
  gap: 20px;
  overflow: scroll;
}

#item1 {
  background-image: url(./latest/1.jpeg);
}
#item2 {
  background-image: url(./latest/2.jpeg);
}
#item3 {
  background-image: url(./latest/3.jpeg);
}
#item4 {
  background-image: url(./latest/4.jpeg);
}
#item5 {
  background-image: url(./latest/5.jpeg);
}
#item6 {
  background-image: url(./latest/6.jpeg);
}
#item7 {
  background-image: url(./latest/7.jpeg);
}
#item8 {
  background-image: url(./latest/8.jpeg);
}
#item9 {
  background-image: url(./latest/9.jpeg);
}
#item10 {
  background-image: url(./latest/10.jpeg);
}
#item11 {
  background-image: url(./latest/11.jpeg);
}
.ListItem-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.heading3 p {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;

  /* padding-left: 8px 16px 8px 16px; */
}
.price {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.price p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
}
#price-text-white {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
#heading3-white {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}
.Personalization-section {
  width: 100%;
  display: flex;
  gap: 24px;
  opacity: 1;
  /* padding-right: 140px; */
  padding-left: 140px;
  flex-direction: column;
}
.Personalization-section-title {
  display: flex;
  gap: 4px;
}
.Personalization-section-title p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #6e6e73;
}
.Personalization-ListItem {
  width: 313px;
  height: 500px;
  border-radius: 18px;
  background-size: 230px, 230px;
  /* background-position: 71px 41.5px; */
  flex-shrink: 0;
  padding: 30px;
  row-gap: 20px;
  scroll-snap-align: start;
  cursor: pointer;
  text-align: left;
}
#personalization-item1 {
  background-image: url(./personalization/store-card-40-holiday-engraving-202411.png);
}

.wrap {
  width: 196px;
  height: 66px;
}
.Personalization-ListItem {
  width: 313px;
  height: 500px;
  border-radius: 18px;
  background-position: center;
  flex-shrink: 0;
  padding: 30px;
  row-gap: 20px;
  scroll-snap-align: start;
  cursor: pointer;
  text-align: left;
  background-color: white;
  position: relative;
}
.Description {
  top: 359px;
  left: 28px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: absolute;
}
.Description p:nth-child(1) {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b64400;
}
.Description p:nth-of-type(2) {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.Description p:nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  vertical-align: middle;
}
#Holiday-item1 {
  background-image: url(./holiday/store-card-40-holiday-quick-picks-202411.png);
}
#Only-at-Apple-item1 {
  width: 480px;
  height: 500px;
  background-image: url(./only-at-apple/store-card-50-holiday-delivery-pickup-202411.png);
}
.Only-at-Apple-item2 {
  width: 313px;
  height: 500px;
  position: relative;
}
.Only-at-Apple-item2-ListItem-text {
  width: 313px;
  height: 240px;
  opacity: 1;
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 2px 4px 12px 0px #00000014;
}
.Only-at-Apple-item2-ListItem-text p {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding-top: 82px;
  padding-left: 30px;
}
.Only-at-Apple-item2-ListItem-text:last-child {
  position: absolute;
  top: 260px;
}
#Only-at-Apple-item3 {
  width: 480px;
  height: 500px;
  background-image: url(./only-at-apple/store-card-50-holiday-trade-in-202411.png);
}
