* {
  box-sizing: border-box;
  margin: 0;
  font-family: "inter", sans-serif;
}
.apple {
  width: 100vw;
  position: relative;
}
.header {
  width: 100%;
  height: 44px;
  background-color: #f5f5f7cc;
  opacity: 80%;
  display: flex;
  gap: 24px;
  position: fixed;
  text-decoration: none;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.logo {
  width: 30px;
  height: 44px;
}
.section {
  width: 100%;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 16px;
  gap: 4px;
}
.frame14 {
  width: 100%;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.iphoneframes {
  width: 100vw;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.frame12-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.frame12-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.figure {
  width: 100%;
  height: 692px;
}
.frame12-3 {
  position: relative;
  display: flex;
}
.frame12-3-text {
  position: absolute;
  top: 446px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.frame12-3-text p:nth-child(1) {
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
}
.frame12-3-text p:nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}
.button {
  width: 114px;
  height: 45px;
  border-radius: 999px;
  padding: 12px 20px 12px 20px;
  background-color: #0071e3;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: -0.37px;
}
.iphone16pro {
  width: 100vw;
  position: absolute;
  top: 151px;
  gap: 20px;
  color: #f5f5f7;
  display: flex;
  flex-direction: column;
}
.iphone-title {
  font-size: 52px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.28px;
  /* color: #f5f5f7; */
}
.iphone-subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button-learnmore-buy {
  display: flex;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.37px;
  gap: 16px;
}
.button-learnmore {
  padding: 12px 20px 12px 20px;
  background-color: #0071e3;
  border-radius: 999px;
  color: #ffffff;
}
.button-buy {
  padding: 12px 20px 12px 20px;
  border-radius: 999px;
  border: 1px #2997ff solid;
  color: #2997ff;
}
a {
  text-decoration: none;
}
.frame12-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.iphone16 {
  width: 100vw;
  position: absolute;
  top: 55px;
  gap: 20px;
  color: #f5f5f7;
  display: flex;
  flex-direction: column;
}
.productcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  border: 2px blue solid;

  /* padding: 12px; */
}
.product {
  width: 100%;
  height: 580px;
  position: relative;
  display: flex;
}
.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 58px;
}
.product-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0px;
}
.product-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  width: 322px;
}

.linear-gradient-HelloAppleIntelligence {
  width: 100%;
  background: linear-gradient(
    to right,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 99%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  position: absolute;
  top: 509px;
}
.product-bottom {
  color: #f5f5f7;
  width: 100%;

  top: 400px;
}
.product-title-grid3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  display: flex;
  gap: 8px;
}
.product-title-grid3 img {
  width: 26px;
  height: 32px;
}
.grid3-series10 {
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 4px;
}
.button-Get-your-estimate {
  padding: 12px 20px 12px 20px;
  background-color: #0071e3;
  border-radius: 999px;
  color: #ffffff;
}
.button-applynow {
  padding: 12px 20px 12px 20px;
  border-radius: 999px;
  border: 1px #2997ff solid;
  color: #2997ff;
}
.scroll {
  width: 100%;
  border: 2px red solid;
  height: 100px;
}
.scroll-container {
  width: 100%;
  display: flex;
  column-gap: 16px;
  overflow: scroll;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.carousel-slide {
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
  background: var(--background-image) center / cover no-repeat;
}
.carousel-info {
  left: 47px;
  bottom: 38px;
  position: absolute;
}
.carousel-info-button {
  border: none;
  cursor: pointer;
  font-size: 17px;
  padding: 11px 21px;
  margin-right: 14px;
  border-radius: 999px;
  background-color: #f5f5f7;
}
