* {
  box-sizing: border-box;
  margin: 0;
  font-family: "inter", sans-serif;
}
.apple {
  width: 100vw;
  position: relative;
}
.header {
  width: 100%;
  height: 44px;
  background-color: #f5f5f7cc;
  opacity: 80%;
  display: flex;
  gap: 24px;
  position: fixed;
  text-decoration: none;
  z-index: 1;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.logo {
  width: 30px;
  height: 44px;
}
.section {
  width: 100%;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 16px;
  gap: 4px;
  text-align: center;
}
.frame14 {
  width: 100%;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.iphoneframes {
  width: 100vw;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.frame12-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.frame12-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.figure {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frame12-3 {
  position: relative;
}
#text {
  color: black;
  bottom: 30px;
  top: auto;
}
#textcolor {
  color: black;
}
.menu-items,
.header-controllers {
  display: flex;
  gap: 24px;
}
.header-menu-icon {
  display: none;
}
.button {
  width: 114px;
  height: 45px;
  border-radius: 999px;
  padding: 12px 20px 12px 20px;
  background-color: #0071e3;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: -0.37px;
}
.iphone16pro {
  width: 100vw;
  position: absolute;
  top: 151px;
  gap: 20px;
  color: #f5f5f7;
  display: flex;
  flex-direction: column;
}
.iphone-title {
  font-size: 52px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.28px;
  /* color: #f5f5f7; */
}
.iphone-subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button-learnmore-buy {
  display: flex;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.37px;
  gap: 16px;
}
.button-learnmore {
  padding: 12px 20px 12px 20px;
  background-color: #0071e3;
  border-radius: 999px;
  color: #ffffff;
}
.button-buy {
  padding: 12px 20px 12px 20px;
  border-radius: 999px;
  border: 1px #2997ff solid;
  color: #2997ff;
}

a {
  text-decoration: none;
  color: black;
}
.frame12-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.iphone16 {
  width: 100vw;
  position: absolute;
  top: 55px;
  gap: 20px;
  color: #f5f5f7;
  display: flex;
  flex-direction: column;
}
.productcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  border: 2px blue solid;

  /* padding: 12px; */
}
.product {
  width: 100%;
  height: 580px;
  position: relative;
  display: flex;
}
.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.head {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 58px;
}
.product-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0px;
}
.product-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  width: 322px;
}

.linear-gradient-HelloAppleIntelligence {
  width: 100%;
  color: #0090f7;
  background-image: linear-gradient(
    45deg,
    #0090f7,
    #ba62fc 60%,
    #f2416b 90%,
    #f55600 150%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  position: absolute;
  top: 509px;
  text-align: center;
}
.product-bottom {
  color: #f5f5f7;
  width: 100%;

  top: 400px;
}
.product-bottom-tablet {
  color: #f5f5f7;
  width: 100%;
  gap: 16px;
  top: 287px;
}
.product .product-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
}
.product .product-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
}
.product-title-grid3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  display: flex;
  gap: 8px;
}
.product-tablet-title-grid3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  display: flex;
  gap: 8px;
}
.product-title-grid3 img {
  width: 26px;
  height: 32px;
}
.grid3-series10 {
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 4px;
}
.tablet-grid3-series10 {
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2px;
}
.button-Get-your-estimate {
  padding: 12px 20px 12px 20px;
  background-color: #0071e3;
  border-radius: 999px;
  color: #ffffff;
}
.button-applynow {
  padding: 12px 20px 12px 20px;
  border-radius: 999px;
  border: 1px #2997ff solid;
  color: #2997ff;
}

.scroll-container {
  width: 100%;
  display: flex;
  column-gap: 16px;
  overflow: scroll;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.carousel-slide {
  height: 668px;
  width: 1250px;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  position: relative;
  scroll-snap-align: center;
  /* background-image: var(--background-image); */
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-info {
  left: 47px;
  bottom: 38px;
  position: absolute;
}
.carousel-info-button {
  border: none;
  cursor: pointer;
  font-size: 17px;
  padding: 11px 21px;
  margin-right: 14px;
  border-radius: 999px;
  background-color: #f5f5f7;
}
.bullets {
  display: flex;
  width: 100%;
}
.bullet {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #0000006b;
  opacity: 42%;
  margin-right: 10px;
}
.bullet:hover {
  background-color: #0000006b;
  opacity: 100%;
}

.slider {
  width: fit-content;
  height: 236px;
  display: flex;
  column-gap: 16px;
}

.slide {
  width: 417px;
  height: 236px;
  flex-shrink: 0;
  position: relative;
  background-size: cover;
}

.white {
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.22px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.white1 {
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.22px;
  position: absolute;
  bottom: 109px;
  left: 226px;
  color: white;
}
.black {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.22px;
  position: absolute;
  top: 109px;
  left: 226px;
  color: black;
}
.crop {
  width: 196px;
  height: 196px;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  left: 15px;
  overflow: hidden;
}
.slider img {
  width: 200%;
  height: 200%;
}

.slider-button {
  opacity: 0;
  border: none;
  top: 110px;
  left: 150px;
  padding: 7px 15px;
  border-radius: 999px;
  background-color: white;
  position: absolute;
}

.slide:hover .slider-button {
  opacity: 100;
}
.slide:hover.slide {
  filter: grayscale(1);
}
.slider:has(.slide:hover) {
  animation-play-state: paused;
}

.slider {
  animation-name: run;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#tablet-image {
  display: none;
}
#grid-tablet {
  display: none;
}
@keyframes run {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-50%);
  }
}
.frame12-3 .product {
  display: none;
}
@media (max-width: 959px) {
  .header-menu-icon {
    display: block;
    justify-content: space-between;
  }
  .menu-items {
    display: none;
  }
  .header {
    border: 2px red solid;
    justify-content: space-between;
  }
  .iphoneframes img:nth-child(1) {
    display: none;
  }
  #tablet-image {
    width: 100%;
    display: block;
  }
  .iphone16 {
    gap: 16px;
  }
  .iphone-title {
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0px;
  }
  .iphone-subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
  }
  .frame12-3 .product {
    display: block;
  }
  #text {
    display: none;
  }
  #grid-web {
    display: none;
  }
  #grid-tablet {
    display: block;
  }
}
